.home{
    width: 100%;
    height: 100vh;
    background-color: #1a253c;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.logo{
    width: 100%;
}
.connect{
    align-self: flex-start;
}
.connect>button{
    background-color: transparent;
    padding: 13px;
    color: #ffe05f;
    font-size: 17px;
    border-radius: 10px;
    font-weight: 500;
    border-color: #ffe05f;
}
.box{
    text-align: center;
    margin-top: 30px;
}
.group-btns-experiencia{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.btn-experiencia{
    color: #1a253c;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: #94f4f0;
    border-width: 2px;
    border-color: #1a253c;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
}